@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	width: min(95vw, 85ch);
	height: 100svh;
	margin: auto;

	display: flex;
	flex-direction: column;
}

#root > * {
    padding: 1rem;
}

nav > a:hover {
    font-weight: bold;
}