---
import '@/styles/globals.css'
import Header from '@/components/portal/header'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Equipment Service Portal</title>
	</head>
	<body>
		<div class="container">
			<Header client:only />
			<main class="flex-grow">
				<slot />
			</main>
			<footer class="self-center">
				<div>
					<span> JeffM was here! Built with Astro</span>
				</div>
				<div>
					<a>Agent login</a>
				</div>
			</footer>
		</div>
	</body>

	<style>
		* {
			box-sizing: border-box;
		}

		.container {
			margin: 0 auto;
			height: 100svh;
			padding-block: 1rem;
			width: min(90vw, 75ch);
			margin: 0 auto;

			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
	</style>
</html>
